layout {

    focus-ring {
        active-color   "#ffb0d1"
        inactive-color "#402e2e"
        urgent-color   "#bf616a"
    }

    border {
        active-color   "#ffb0d1"
        inactive-color "#402e2e"
        urgent-color   "#bf616a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb0d1"
        inactive-color "#673232"
        urgent-color   "#bf616a"
    }

    insert-hint {
        color "#ffb0d180"
    }
}

